<ion-content padding class="transparent-header" [ngStyle]="{'background-image': 'url(' + backgroundImage +')'}">

    <div padding>
        <ion-row style="margin-top: 20%;">
            <ion-col>
                <img class="logo" src="assets/images/logo.png"/>
                <br>
                <h5 text-white>Service Provider App</h5>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <form [formGroup]="loginForm">
                    <ion-list inset class="no-border">
                        <ion-item *ngIf="!usingID">
                            <ion-label>Email</ion-label>
                            <ion-input type="email" formControlName="email"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="usingID">
                            <ion-label>ID Number</ion-label>
                            <ion-input type="number" formControlName="id"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label>Password</ion-label>
                            <ion-input [type]="passType" formControlName="password"></ion-input>
                            <button *ngIf="!showPass" ion-button color="dark" type="button" item-right (click)="showPassword(true)"> <ion-icon name="eye-off"></ion-icon></button>
                            <button *ngIf="showPass" ion-button color="dark" type="button" item-right (click)="showPassword(false)"> <ion-icon name="eye"></ion-icon></button>
                        </ion-item>
                    </ion-list>

                    <br>
                    <button ion-button color="primary2" block (click)="login()" icon-left>
                        <ion-icon name="lock"></ion-icon>
                        Login
                    </button>
                    <br>
                    <span text-white>or</span>
                </form>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-4></ion-col>
            <ion-col col-4>
                <button ion-button color="light" outline small block (click)="resetPassword()" icon-left>
                    <ion-icon name="undo"></ion-icon>
                    Reset
                </button>
            </ion-col>
            <ion-col col-12 text-center margin-top>
                <a href="#!" *ngIf="!usingID" (click)="toggleID(true)" text-white>Login with ID number</a>
                <a href="#!" *ngIf="usingID" (click)="toggleID(false)" text-white>Login with email</a>
            </ion-col>
        </ion-row>

    </div>
</ion-content>
