<ion-header>
    <ion-navbar color="primary">
        <ion-title>{{order.ad.name}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row *ngIf="order.status == 'COMPLETE'">
        <div col-12 text-center class="success">
            This order is completed
        </div>
    </ion-row>
    <ion-row *ngIf="order.status == 'CANCELLED'">
        <div col-12 text-center class="error">
            This order is cancelled
        </div>
    </ion-row>

    <!--Slides-->
    <ion-row>
        <ion-col>
            <ion-slides pager="true" autoplay="5000" loop="true">
                <ion-slide *ngFor="let picture of order.ad.pictures">
                    <img src="{{ picture }}">
                </ion-slide>
            </ion-slides>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12>
            <h3 margin-top>{{order.ad.name}}</h3>
            <h5>Ksh {{order.ad.price | number}}</h5>
        </ion-col>
        <ion-col col-12>
            <p>
                {{order.ad.description}}
            </p>
        </ion-col>
        <ion-col col-12 style="margin-top: -15px;">
            <small text-muted>
                Classified under {{order.ad.category}}
            </small>
        </ion-col>
    </ion-row>

    <!--Supplier info-->
    <ion-card no-padding>
        <ion-card-header>
            CUSTOMER DETAILS
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item no-padding>
                    <ion-avatar item-start>
                        <img [src]="order.customer.picture" *ngIf="order.customer.picture">
                        <img src="assets/images/avatar.png" *ngIf="!order.customer.picture">
                    </ion-avatar>
                    <p>Names</p>
                    <h2>{{order.customer.name}}</h2>
                </ion-item>
                <!--<ion-item no-padding>-->
                    <!--<ion-icon name="call" item-start></ion-icon>-->
                    <!--<p>Mobile Number</p>-->
                    <!--<h2>-->
                        <!--<a href="tel:{{order.customer.telephone}}">-->
                            <!--{{order.customer.telephone}}-->
                        <!--</a>-->
                    <!--</h2>-->
                <!--</ion-item>-->
                <!--<ion-item no-padding *ngIf="order.customer.email">-->
                    <!--<ion-icon name="mail" item-start></ion-icon>-->
                    <!--<p>Email</p>-->
                    <!--<h2>-->
                        <!--<a href="mailto:#">-->
                            <!--{{order.customer.email}}-->
                        <!--</a>-->
                    <!--</h2>-->
                <!--</ion-item>-->
                <ion-item no-padding *ngIf="order.customer.location">
                    <ion-icon name="pin" item-start></ion-icon>
                    <p>Location</p>
                    <h2>
                        {{order.customer.location.display_name}}
                    </h2>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <!--Order info-->
    <ion-card no-padding margin-top>
        <ion-card-header>
            ORDER DETAILS
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item no-padding>
                    <ion-icon name="mail" item-start color="dark" *ngIf="order.status == 'PENDING'"></ion-icon>
                    <ion-icon name="timer" item-start color="primary2" *ngIf="order.status == 'PROGRESSING'"></ion-icon>
                    <ion-icon name="checkmark-circle" item-start color="secondary" *ngIf="order.status == 'COMPLETE'"></ion-icon>
                    <ion-icon name="trash" item-start color="danger" *ngIf="order.status == 'CANCELLED'"></ion-icon>

                    <p>Status</p>
                    <h2 icon-start color="danger" *ngIf="order.status == 'PENDING'">
                        {{order.status}}
                    </h2>
                    <h2 icon-start color="primary" *ngIf="order.status == 'PROGRESSING'">
                        {{order.status}}
                    </h2>
                    <h2 icon-start color="secondary" *ngIf="order.status == 'COMPLETE'">
                        {{order.status}}
                    </h2>
                    <h2 icon-start color="danger" *ngIf="order.status == 'CANCELLED'">
                        {{order.status}}
                    </h2>
                </ion-item>
                <ion-item no-padding>
                    <ion-icon name="calendar" item-start></ion-icon>
                    <p>Order Date</p>
                    <h2>
                        {{order.created_at}}
                    </h2>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>

    <!--Order instructions-->
    <ion-card no-padding margin-top>
        <ion-card-header>
            ORDER INSTRUCTIONS
        </ion-card-header>
        <ion-card-content>
            <p>{{(order.instructions) ? order.instructions : 'Not available'}}</p>
        </ion-card-content>
    </ion-card>

    <ion-row>
        <ion-col text-center>
            <button ion-button color="secondary" icon-left margin-bottom block (click)="acceptOrder()" *ngIf="order.status == 'PENDING'">
                <ion-icon name="checkmark-circle"></ion-icon>
                Accept this order
            </button>
            <button ion-button color="secondary" icon-left margin-bottom block (click)="completeOrder()" *ngIf="order.status == 'PROGRESSING'">
                <ion-icon name="checkmark-circle"></ion-icon>
                Complete Order
            </button>
            <button ion-button color="danger" icon-left block (click)="showCancellationOptions()" *ngIf="order.status == 'PENDING' || order.status == 'PROGRESSING'">
                <ion-icon name="trash"></ion-icon>
                Reject this order
            </button>
        </ion-col>
    </ion-row>

</ion-content>
