<ion-header>
    <ion-navbar color="primary">
        <ion-title>Showing {{label}}</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showSearchOptions($event)" *ngIf="!search">
                <ion-icon name="locate"></ion-icon>
            </button>
            <button ion-button icon-only (click)="reloadPage()" *ngIf="search">
                <ion-icon name="close-circle"></ion-icon> Reset
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="reloadPage($event)">
        <ion-refresher-content
            pullingText="Pull to refresh"
            refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>

    <!--Loader-->
    <ion-row *ngIf="isLoading">
        <ion-col col-3></ion-col>
        <ion-col col-6 text-center text-muted>
            <img src="assets/images/loader.gif" alt="">
            <h5>Loading...</h5>
        </ion-col>
    </ion-row>

    <!--Search results header-->
    <ion-row *ngIf="search && !isLoading">
        <ion-col>
            <h5 text-center text-muted>
                Search results for '{{q}}'
            </h5>
            <hr text-muted>
        </ion-col>
    </ion-row>

    <!--Ad listings-->
    <ion-row>
        <ion-col class="pins">
            <div *ngFor="let ad of ads" class="pin">
                <a href="#!" (click)="viewAd(ad)">
                    <ion-card>
                        <img [src]="ad.featured_picture"/>
                        <ion-card-content>
                            <div class="name ellipsize">{{ad.name}}</div>
                            <small text-muted>Ksh {{ad.price | number}}</small>
                            <br>
                            <small text-muted icon-start>
                                <ion-icon name="pin"></ion-icon> {{ad.location.display_name.split(',')[0]}}
                            </small>
                        </ion-card-content>
                    </ion-card>
                </a>
            </div>
        </ion-col>
    </ion-row>

    <ion-row *ngIf="!isLoading && !ads.length">
        <ion-col text-center text-muted>
            <ion-icon name="alert" style="font-size: 4em;"></ion-icon>
            <br>
            <h3>Nothing to display</h3>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col col-12 text-center *ngIf="!hasMoreData">
            <br>
            <br>
            The End
            <br>
            <br>
            <br>
        </ion-col>
    </ion-row>

    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
        <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Getting some more..."
            *ngIf="hasMoreData">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
