<ion-menu [content]="content">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{config.app.name}}</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-row>
            <ion-col>
                <ion-card>
                    <img [src]="user.picture" *ngIf="user"/>
                    <img src="assets/images/avatar.png" *ngIf="!user"/>

                    <ion-card-content>
                        <ion-fab right top>
                            <button ion-fab small>
                                <ion-icon name="contact"></ion-icon>
                            </button>
                        </ion-fab>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
                <ion-icon [name]="p.icon"></ion-icon> {{p.title}}
            </button>
        </ion-list>

        <ion-list>
            <button ion-item menuClose color="danger" style="position:fixed; bottom: 0;" (click)="logout()">
                <ion-icon name="lock" item-start></ion-icon>
                Logout
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
