<ion-menu [content]="content" id="sidemenu">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{config.app.name}} S.P</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-row padding-top padding-left *ngIf="user">
            <ion-col col-3 padding-top>
                <img [src]="picture" *ngIf="picture"/>
                <img src="assets/images/avatar.png" *ngIf="!picture"/>
            </ion-col>
            <ion-col col-9 padding>
                <h4 style="margin-top: 2px;">{{user?.name}}</h4>
                <h6 no-margin text-muted tappable (click)="topupCredits()" menuClose>
                    <ion-icon name="ios-cash"></ion-icon> {{credits}} credits
                </h6>
            </ion-col>
        </ion-row>

        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
                <ion-icon [name]="p.icon"></ion-icon>
                {{p.title}}
            </button>
        </ion-list>

        <ion-list>
            <button ion-item menuClose color="danger" style="position:fixed; bottom: 0;" (click)="logout()">
                <ion-icon name="lock" item-start></ion-icon>
                Logout
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
