page-upload-profile-picture {

    .upload-box{
        width: 100%;
        height: 200px;
        border: 3px solid lightgrey;
        border-style: dashed;
        font-size: 20px;
        color: grey;
        ion-icon {
            display: inline-block;
            font-size: 3em;
            display: block;
            margin-bottom: 10px;
            margin-top: 45px;
        }
    }

    .framed {
        background: #fff;
        border-radius: 2px;
        display: block;
        //position: relative;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        img{
            width: 100%;
        }
    }

}
