<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Received Orders</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="showFilters()">
                <ion-icon name="funnel"></ion-icon> Filter
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="reloadPage($event)">
        <ion-refresher-content
            pullingText="Pull to refresh"
            refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>

    <!--Loader-->
    <ion-row *ngIf="isLoading">
        <ion-col col-3></ion-col>
        <ion-col col-6 text-center text-muted>
            <img src="assets/images/loader.gif" alt="">
            <h5>Loading...</h5>
        </ion-col>
    </ion-row>

    <!--Orders list-->
    <ion-row *ngIf="!isLoading && orders">
        <ion-col>
            <ion-list>
                <button ion-item *ngFor="let order of orders?.data" (click)="viewOrder(order)">
                    <ion-avatar item-start>
                        <img [src]="order.ad.featured_picture">
                    </ion-avatar>
                    <h2>{{order.ad.name}}</h2>
                    <h3>Ksh {{order.ad.price | number}}</h3>
                    <ion-note item-end icon-start style="font-size: 12px;" color="dark" *ngIf="order.status == 'PENDING'">
                        <ion-icon name="mail"></ion-icon>
                    </ion-note>
                    <ion-note item-end icon-start style="font-size: 12px;" color="primary2" *ngIf="order.status == 'PROGRESSING'">
                        <ion-icon name="timer"></ion-icon>
                    </ion-note>
                    <ion-note item-end icon-start style="font-size: 12px;" color="secondary" *ngIf="order.status == 'COMPLETE'">
                        <ion-icon name="checkmark-circle"></ion-icon>
                    </ion-note>
                    <ion-note item-end icon-start style="font-size: 12px;" color="danger" *ngIf="order.status == 'CANCELLED'">
                        <ion-icon name="trash"></ion-icon>
                    </ion-note>
                </button>
            </ion-list>
        </ion-col>
    </ion-row>

    <!--No orders msg-->
    <ion-row *ngIf="!isLoading && !orders.total">
        <ion-col text-center text-muted>
            <ion-icon name="sad" large-icon></ion-icon>
            <h4>You have not received any orders from customers</h4>
        </ion-col>
    </ion-row>

</ion-content>
