<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Buy Growthpad credits</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col col-12 *ngIf="step==1">
            <div class="success" text-center>
                Credits allow you to receive orders from customers in Growthpad platform
            </div>
        </ion-col>

        <ion-col col-12 *ngIf="step==1">

            <ion-list margin-bottom>
                <ion-item>1. On the M-PESA menu, select Lipa na MPESA</ion-item>
                <ion-item>2. Choose Buy Goods And Services</ion-item>
                <ion-item>3. Enter till number {{config.mpesa.till_no}}</ion-item>
                <ion-item>4. Enter the amount you wish to pay</ion-item>
                <ion-item>5. Enter your PIN and confirm</ion-item>
            </ion-list>

            <hr>

            <p text-left margin-top margin-bottom>
                Ksh 1 = 1 credit
                <br>
                Each order you recieve = 10 credits
            </p>

            <button ion-button color="secondary" icon-end block (click)="verifyPayment()">
                Confirm Payment
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-col>

        <!--<ion-col col-12 *ngIf="step==2" text-center>-->
            <!--<ion-icon name="checkmark-circle" large-icon color="secondary"></ion-icon>-->
            <!--<br>-->
            <!--<h3 text-center margin-bottom>-->
                <!--You have purchased {{credits}} credits for Ksh {{credits}}.-->
            <!--</h3>-->
            <!--<h5 text-center>-->
                <!--This allows you to receive {{credits}} orders from your customers-->
            <!--</h5>-->

            <!--<button ion-button icon-start (click)="goHome()">-->
                <!--<ion-icon name="home"></ion-icon> Go Home-->
            <!--</button>-->
        <!--</ion-col>-->
    </ion-row>

</ion-content>
