<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Buy Growthpad credits</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-row>
        <ion-col col-12 *ngIf="step==1">
            <div class="success" text-center>
                Credits allow you to receive orders from customers in Growthpad platform
            </div>
        </ion-col>

        <ion-col col-12 *ngIf="step==1">

            <ion-list margin-bottom>
                <ion-item>1. On the M-PESA menu, select Lipa na MPESA</ion-item>
                <ion-item>2. Choose Pay Bill</ion-item>
                <ion-item>3. Enter business number {{config.paybill.business_no}}</ion-item>
                <ion-item>3. Enter account number {{config.paybill.ac_no}}</ion-item>
                <ion-item>4. Enter the amount you wish to deposit</ion-item>
                <ion-item>5. Enter your PIN and confirm</ion-item>
            </ion-list>

            <br>

            <h3 text-center margin-top margin-bottom>
                1 credit = Ksh 1
            </h3>

            <!--<button ion-button color="secondary" icon-end block (click)="goToNext(2)">-->
                <!--Continue-->
                <!--<ion-icon name="arrow-forward"></ion-icon>-->
            <!--</button>-->
        </ion-col>

        <!--<ion-col col-12 *ngIf="step==2" text-center>-->
            <!--<ion-icon name="checkmark-circle" large-icon color="secondary"></ion-icon>-->
            <!--<br>-->
            <!--<h3 text-center margin-bottom>-->
                <!--You have purchased {{credits}} credits for Ksh {{credits}}.-->
            <!--</h3>-->
            <!--<h5 text-center>-->
                <!--This allows you to receive {{credits}} orders from your customers-->
            <!--</h5>-->

            <!--<button ion-button icon-start (click)="goHome()">-->
                <!--<ion-icon name="home"></ion-icon> Go Home-->
            <!--</button>-->
        <!--</ion-col>-->
    </ion-row>

</ion-content>
